.button {
  max-width: 200px;
  min-width: 80px;
  max-height: 50px;
  min-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: var(--accent-primary);
  padding: 10px;
}
