.headerPanel {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.headerPanel > :last-child {
  grid-column: 3;
  justify-self: end;
}
