.list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 50px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: var(--error);
}
@media (max-width: 760px) {
  .list {
    justify-content: center;
  }
}

.headerPanel {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin-bottom: 20px;
}
.headerPanel > :first-child {
  grid-column: 2;
  justify-self: center;
  min-width: 300px;
  align-self: center;
}

.headerPanel > :last-child {
  grid-column: 3;
  justify-self: end;
}
