.label {
  display: block;
  margin-bottom: 2px;
}

.labelText {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 500;
  color: var(--text-primary);
}

.input {
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  background: var(--bg-primary);
  border: 1px solid #3d3d3d;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}

.input::placeholder {
  color: var(--text-secondary);
  opacity: 0.7;
}

.input:focus {
  border-color: var(--accent-primary);
  background-color: var(--bg-secondary);
}

.input:hover {
  background-color: rgba(45, 45, 45, 0.8);
}
